<div class="div"> 
	<div class="container">
		<div class="row">
			<div class="col-md-6 text-left">
	    		<% unless current_user.recipes.include?(@recipe) %>
	    		<%= link_to "Save & Modify", modify_recipe_path, class: 'btn btn-primary' %>
	      			<%= render partial: 'bookmarks/bookmark', locals: { recipe: @recipe } %>
	    		<% end %>
	    		<p>This recipe has been bookmarked <%= @recipe.bookmarks.count %> times and modified <%= @modified_recipes.count %> times.</p>
			</div>

			<div class="col-md-6 text-right">
				<div class="star-rating" data-score= <%= @avg_rating %> ></div>
					<em><%= "#{@ratings.length} ratings" %></em>

					<% unless current_user.recipes.include?(@recipe) %>
						<%= link_to "Rate this recipe", new_recipe_rating_path(@recipe), class: 'btn btn-primary' %>
					<% end %>	
			</div>
		</div>
	</div>
<br>
	<div class="container">
		<div class="row">
			<h2 class="text-center"><%= @recipe.title %></h2>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<%= image_tag @recipe.image.url(:medium, class: "recipe_image") %>
				<br>
				<div>	
					<%= render partial: 'tags/list', locals: { tags: @recipe.tags } %>
				</div>
			</div>
			<div class="col-md-6">
				<p><%= @recipe.description %></p>	
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<h2>Ingredients</h2>
				<% @recipe.ingredients.each do |ingredient| %>
					<p><%= ingredient.name %><p>
				<% end %> 				
			</div>
			<div class="col-md-6">
				<h2>Directions</h2>
				<% @recipe.directions.each do |direction| %>
					<p><%= direction.step %></p>
				<% end %>	
			</div>
		</div>
		<br>
		<br>
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="video">
					<%= @recipe.video_embeded_url.try(:html_safe) %>
				</div>				
			</div>
		</div>
		<br>
		<br>
		<div class="row">
			<% if @recipe.modified_recipe %>
			<div class="col-md-12">
				<p>Modified from: <%= link_to @recipe.modified_recipe.title, @recipe.modified_recipe %></p>				
			</div>
			<% end %>
			
			<% if @recipe.modified_recipes.any? %>
			<div class="col-md-12">
				<h3>Modifications</h3>
				<ul>
					<% @recipe.modified_recipes.each do |recipe| %>
						<li><%= link_to recipe.title, recipe %></li>
					<% end %>
				</ul>			
			</div>
			<% end %>
		</div>

		<div class="row">
				<%= link_to "Back", recipes_path, class: 'btn btn-primary' %>


				<% if current_user && current_user.recipes.include?(@recipe) %>
					<%= link_to "Edit", edit_recipe_path, class: 'btn btn-primary' %>
					<%= link_to "Delete", recipe_path, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this post?' } %>
				<% end %>				
		</div>
	</div>

<script>
	$('.star-rating').raty({
		path: '/assets/',
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		}
	});
</script>
 
<br>
<br> 
<%= render 'disqus' %>

</div>
