<div class="container">
	<h1><%= @tag.name %></h1>
		<% @tag.recipes.each_slice(3) do |row| %>
			<div class="row">
				<% row.each do |recipe| %>
				<div class="col-md-4">
					<%= link_to recipe do %>
	         			<%= image_tag recipe.image.url(:medium) %>
	           			<h4 class="media-heading">
							<%= link_to recipe.title, recipe %>
						</h4>
					<% end %>				
				</div>
				<% end %>
			</div>
		<% end %>
</div>

<div class="paginate text-center">
	<%= will_paginate @recipes, renderer: BootstrapPagination::Rails %>
</div>